<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>user</param-name>
        <param-value>AptechLalitpur</param-value>
    </context-param>
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.ky.filters.MyFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.ky.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.ky.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>com.ky.servlet.SetSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSessionServlet</servlet-name>
        <servlet-class>com.ky.servlet.GetSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelSessionServlet</servlet-name>
        <servlet-class>com.ky.servlet.DelSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfigServlet</servlet-name>
        <servlet-class>com.ky.servlet.ServletConfigServlet</servlet-class>
        <init-param>
            <param-name>brand</param-name>
            <param-value>Apple Inc.</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/my-servlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/set-session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSessionServlet</servlet-name>
        <url-pattern>/get-session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelSessionServlet</servlet-name>
        <url-pattern>/del-session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/test</url-pattern>
    </filter-mapping>

</web-app>
